---
---
@import "{{ site.theme }}";

section#downloads {
    display: none
}

table {
    font-size: 70%;
}

.ranking {
    width: 500px;
    height: 280px;
    margin-left:20px;
    padding:10px;
    clear: both;
    overflow: auto;
}
.parent {
#    height: 500px;
    clear: both;
    overflow: auto;
}
.child1 {
    width: 450px;
    float:left
}
.child2 {
    margin-left: 20px;
    width: 500px;
    padding: 10px;
    height: 300px;
    float:left;
    overflow: auto;
}

